.navbar {
  background-color: var(--primary-color);
  color: #fff;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  color: #fff;
  margin-left: 1rem;
  text-decoration: none;
  font-weight: 500;
}

.nav-link:hover {
  text-decoration: underline;
}
